.card__container {
  width: 400px;
  min-height: 420px;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.card__contentContainer {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.card__title {
  display: flex;
  justify-content: flex-start;
  color: #000;
  font-size: 20px;
  line-height: 2;
  width: 100%;
}

@media (max-width: 576px) {
  .card__container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
}